<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2</title>

    <style>
        body {
            text-align: center;
        }

        h1 {
            color: rgb(220, 183, 20);
        }
    </style>
</head>
<body>
    <h1>Assignment 2 DevOps | Venkata Sandeep Reddy Sabbella | C0868022</h1>
    <h4>Using Express and Node to create an  application and deploying it using Docker File</h4>
</body>
</html>